<!DOCTYPE html>
<html lang="us">
    <head>
        <meta charset="UTF-8">
        <h1> Hello from me</h1>
       
        <input type-"text" placeholder ="give me your name">
        <form action="/postClientData" method="POST">
          
            <input type="text" id="userName" name="userName" value="default value"></input>
        
            <button class="btn btn-primary" type="submit">submit</button>
            <%= myVariableClient %> 

            <% console.log("where am I?") %> 
        
          </form>
        

        </head>
</html>